/*******************************************************************************/
/*---------------------------------   FONTS   ---------------------------------*/
/*******************************************************************************/
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Monsterrat/Montserrat-Regular.ttf'), url('../fonts/Monsterrat/Montserrat-Regular.eot'), url('../fonts/Monsterrat/Montserrat-Regular.woff', '../fonts/Monsterrat/Montserrat-Regular.woff2');
   }
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-Light.ttf'), url('../fonts/OpenSans/OpenSans-Light.eot'), url('../fonts/OpenSans/OpenSans-Light.woff');
}
@font-face {
	font-family: 'Chunkfive';
	src: url('../fonts/Chunkfive.otf');
}
@font-face {
	font-family: 'Exo-Black';
	src: url('../fonts/Exo-Black.otf');
}
/*******************************************************************************/
/*---------------------------------   GRID   ---------------------------------*/
/*******************************************************************************/   
body {	
	background-size: cover;
	background-attachment: fixed;
}
.wrapper {
	max-width: 2560px;	
	width: 80%;
}
div.container-fluid {
	padding: 0;
}
div.row{
	margin-left: auto;
	margin-right: auto;	
}
.marginBlock {
	min-height: 110vh;
	padding-top: 20vh;
	margin-top: 20vh;
}
.marginBlockFirst {
	min-height: 120vh;
}
.rowTest {
	width: 100%;
}
.clearBlock {
	display: none;
}
.paddingLeft {
	padding-left: 10px;
}
.paddingLeftDbl{
	padding-left: 25px;
}
.paddingRight {
	padding-right: 10px;
}
.paddingBottom {
	padding-bottom: 20px;
}
.paddingTop{
	padding-top: 20px;
}
.paddingRightNull {
	padding-right: 0;
}
.formBlock {
	padding-bottom: 75px;
}
p {
	color: white;
	font-size: 1em;
	font-family: 'Open Sans';
	margin-bottom: 0;
}
h1 {
	font-size: 2.5em;
	font-family: 'Chunkfive';
	letter-spacing: 0.1em;	
	text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
	padding-right: 15px;
	margin-top: 95px;
}
h2 {
	padding-right: 15px;
	font-size: 1.8em;
	font-family: 'Chunkfive';
	letter-spacing: 0.1em;	
	
}
/*******************************************************************************/
/*---------------------------------   NAV MENU ---------------------------------*/
/*******************************************************************************/
div.menu {
	height: 100vh;
	background: rgba(0, 0, 0, 0.9);	
}
div.blockAdm{			
	background: rgba(154, 154, 154, 0.5);	
	border-radius: 3px;	
}
div.row nav {
	width: 100%;
}
.affix {
  top: 0;
}
.paddingNull {
	padding: 0;
}
.fa {
	display: none;
}
.iconVisible {
	display: inline-block;
}
h2 {
	color: white;
}
#logo h1, #logo h2 {
	color: white;
	text-align: right;
}

.navList {	
	text-align: right;	
}

.navList li a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	color: rgb(122,122,122);
}
/*******************************************************************************/
/*---------------------------------   SECTIONs---------------------------------*/
/*******************************************************************************/
#section1 {
	width: 100%;
	min-height: 100vh;
}
#mainIMG {
	margin-top: 10vh;
	width: 100%;	
}
#mainIMG img{	
	width: 100%;
	padding-bottom: 2vh;	
}

.section1 {
	background: rgba(0, 0, 0, 0.8);	
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
.section1 div ul li {
	text-align: justify;
    padding-right: 30px;
	color: white;
}
.invisible {
	width: 100%;
}

ul.basicQuality li {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 1.2em;
}
.lineText {
	display: block;
	cursor: pointer;
	padding: 8px;
}
.lineText p {
	cursor: pointer;
	color: white;	
	font-size: 1.3em;
	font-family: 'Open Sans';
	text-align: center;
}
ul.extend li {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 1em;
}
a.click:hover, a.click2:hover {
	text-decoration: none;
	color: white;	
}
a.click:hover div.lineText{
	background: #337ab7;		
}
a.click:hover div.lineText p{
	color: white;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: transparent;
	color: white;
	font-weight: 500;
}
.blockMarginBottom {
	margin-bottom: 1000px;
}
.lineText {
	margin-top: 5px;	
}
/*******************************************************************************/
/*---------------------------------   UP BUTTON   -----------------------------*/
/*******************************************************************************/
#upButton {
	display: none;
	position: fixed;
	top: 90%;
	right: 10%;
	background: rgba(0, 0, 0, 0.7);	
	border-radius: 3px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
a#button {
	cursor: pointer;
	color: white;
	font-size: 1.5em;
	padding: 20px 10px;
	opacity: 1;
}
a#button:hover {
	text-decoration: none;
	opacity: 1;
}
a#button:hover div#upButton{
	opacity: none;
}
/*******************************************************************************/
/*----------------------------   POPUP WINDOW   -------------------------------*/
/*******************************************************************************/
.workIMG {
	width: 100%;	
}
#popup, #popup_2, #popup_3 {
	display: none;
	background: #fff;
	position: fixed;
	width: 900px;
	height: 500px;	
	top: 50%;
	left: 50%;
	margin-left: -450px;
	margin-top: -250px;
	z-index: 999;
	text-align: center;
}
#hover {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.9);
	z-index: 998;
	cursor: pointer;
}
#popup img, #popup_2 img, #popup_3 img{
	width: 100%;
}
#popup button, #popup_2 button, #popup_3 button {
	background: rgba(124, 124, 124, 0.7);
	margin-top: 15px;
	border: none;	
	border-radius: 2px;
	text-decoration: none;
	color: white;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
}
#popup button:hover, #popup_2 button:hover, #popup_3 button:hover {
	background: #337ab7;
}


/*******************************************************************************/
/*---------------------------------   FORM    ---------------------------------*/
/*******************************************************************************/
.row form {  
	color: #888888;
	text-align: left;
	padding-top: 20px;
}

.row label {
	display: none;
}
.row input,
.row textarea {
	padding-left: 32px;
	border-color: transparent;
	border-radius: 0px;
}
.row .btn-default {
	margin-top: 5px;
	margin-bottom: 30px;
	padding: 15px 36px;
	border-radius: 5%;
	border: 0px;
	color: black;
}.row .btn-default:hover,
.row .btn-default:focus {
	background-color: #049DDF;
	color: #F1F1F1;
	border-color: transparent;
	outline: 0px auto -webkit-focus-ring-color;
}
.row .icon {
	position: relative;
	float: left;
	margin-left: 8px;
	margin-top: -24px;
	z-index: 2;
	color: #222222;
}
.row .icon-textarea {
	float: left;
	margin-left: 8px;
	margin-top: -104px;
	position: relative;
	z-index: 2;
	color: #222222;
}
footer {
    text-align: right;
    height: 42px;    
    position: static;
    bottom: 0;
    right: 0;
    z-index: 100000;
}

/*******************************************************************************/
/*---------------------------------   MEDIA   ---------------------------------*/
/*******************************************************************************/

@media only screen and (max-width : 1200px) {
	.wrapper {
		margin: 0 auto;
		width: 100%;
	}
	div.menu {		
		background: none;
	}
  	.affix {  
  		z-index: 100;
  	}
	div.block{ 
		margin-top: 500px;
	}
	div.menu { 
  		opacity: 0.8;
  		height: 20vh;
  	}
	.marginBlockFirst {
		min-height: 120vh;
		padding-top: 12vh;		
	}
	.workIMG {
		padding-bottom: 10px;
	}
	div.block{ 
		margin-top: 50px;
	}
	h1 {
		margin-top: 5px;
	}
	.lineText p {
		text-align: center;
	}
	.nav>li>a{
		display: inline;
	}
	.col-sm-12 ul li{
		display: inline;
		width: 30%;
		padding: 0 1%;
	}
	.section1 div ul li {
		display: list-item;
		width: 100%;	
	}
	.nav>li>a{
		display: inline-block;		
		margin: auto;
	}
	nav {
		background: black;			
	}
	#logo h1, #logo h2 {	
		text-align: center;
	}
	.navList {	
	text-align: center;	
	}
}

@media only screen and (max-width : 1024px) {
	.marginBlockFirst {
		min-height: 120vh;
		padding-top: 10vh;		
	}
	.workIMG {
		padding-bottom: 10px;
	}
	div.block{ 
		margin-top: 50px;
	}
	.lineText p {
		text-align: center;
	}
	.nav>li>a{
		display: inline;
	}
	.col-sm-12 ul li{
		display: inline;
		width: 30%;
		padding: 0 1%;
	}
	.section1 div ul li {
		display: list-item;
		width: 100%;	
	}
	.navList {
		margin-bottom: 10px;
	}
}

@media only screen and (max-width : 992px) {
	#popup, #popup_2, #popup_3 {
		width: 768px;
		height: 426px;	
		margin-left: -384px;
		margin-top: -213px;
	}

}

@media only screen and (max-width : 768px) {
	.marginBlockFirst {
		min-height: 120vh;
		padding-top: 15vh;		
	}
	#popup, #popup_2, #popup_3 {
		width: 640px;
		height: 425px;	
		margin-left: -320px;
		margin-top: -212px;
	}
	.nav>li>a{
		display: inline;
	}
	.col-sm-12 ul li{
		display: inline;
		width: 30%;
		padding: 0 1%;
	}
	.section1 div ul li {
		display: list-item;
		width: 100%;	
	}
	.formBlock{
		padding-bottom: 0px;
	}
}

@media only screen and (max-width : 640px) {
	div.menu {		
	}		
	nav ul {
		width: 100%;
	}
	.marginBlockFirst {
		min-height: 120vh;
		padding-top: 10vh;		
	}
	.navList li a {
		font-size: 0.9em;		
	}
	.col-sm-12 ul li{
		display: inline;
		width: 30%;
		padding: 0 1%;
	}
	.nav>li>a{
		display: inline;
	}
	.section1 div ul li {
		display: list-item;
		width: 100%;	
	}
	#popup, #popup_2, #popup_3 {
		width: 480px;
		height: 266px;	
		margin-left: -240px;
		margin-top: -133px;
	}
	.empty2 {
		display: none;
	}
	footer {
    	text-align: center;
	}
}

@media only screen and (max-width : 480px) {
	span.empty {
		display: none;
	}
	.fa {
		display: inline-block;
	}
	.blockMarginBottom {
		margin-bottom: 40vh;
	}
	.block1 {
		margin-top: 30vh;
		min-height: 100vh;
	}
	#mainIMG img {
		padding-top: 5%;
	}
	.section1 p {
		text-align: center;
		padding-left: 5px;
		padding-right: 5px;
	}
	.workIMG {
		padding-bottom: 5px;
	}
	.clearBlock {
		display: block;
		opacity: 0;		
	}
	nav ul li a {
		font-size: 0.8em;
		text-align: center;
		margin-right: 3px;
	}
	.navList {

	}
	nav h1, nav h2 {
		font-size: 1.5em;
	}
	#popup, #popup_2, #popup_3 {
		width: 320px;
		height: 177px;	
		margin-left: -160px;
		margin-top: -88px;
	}
	.marginBlock {
		min-height: 120vh;
		padding-top: 20vh;
		margin-top: 20vh;
	}
	.marginBlockFirst {
		min-height: 120vh;
		padding-top: 20vh;		
	}
}